body {
    background-color: #cccccc;
}

p {
    border: 1px solid black;
    border-radius: 5%;
    width: 175px;
    padding: 5px;
    margin: 7px;
}

ul {
    list-style: url(images/wheatley.png) inside;
}

li {
    margin-top: 15px;
    width: 400px;
    margin-left: 20%;
}

.page_title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #3b3b3b;
    position: relative;
}

.page_title::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #ed9200;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}

.fact_core {
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3b3b;
    text-align: center;
}

.left {
    float: left;
    min-height: 850px;
    border: 1px solid black;
}

.nav {
    background-color: #e8e8e8;
    width: 200px;
    text-align: center;
}

.main {
    background-color: white;
    width: 750px;
}

.center {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}